.registration-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    padding: 5vw;
    box-sizing: border-box;
}

.registration-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: black;
}

.form-group {
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.register-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #3b5ded;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-btn:hover {
    background-color: #3b5ded;
    transform: scale(1.1);
}

.error-message {
    color: red;
    margin-top: 1rem;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #fff;
}

p a {
    color: #3b5ded;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .registration-form-container {
        padding: 4vw;
    }

    .registration-form {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .registration-form-container {
        padding: 3vw;
    }

    .registration-form {
        max-width: 100%;
    }
}