.seat-selection {
  text-align: center;
  padding: 5vw;
  background-color: #3b5ded;
  color: white;
  font-family: Arial, sans-serif;
  
}

@media (max-width: 768px) {
  .seat-selection {
    padding: 15px;

  }
}

@media (max-width: 480px) {
  .seat-selection {
    padding: 10px;

  }
}

.seats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.first-row,
.last-row {
  display: grid;
  grid-template-columns: repeat(2, 40px) 70px repeat(3, 40px);
  gap: 7px;
  justify-content: center;
  margin-bottom: 7px;
  margin-top: 7px;
}

h2.seath {
  color: white;
}

.middle-rows {
  display: grid;
  grid-template-columns: repeat(3, 40px) 70px repeat(4, 40px);
  gap: 7px;
  justify-content: center;
}

.seat {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.seat.available {
  background-color: transparent;
}

.seat.reserved {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.seat.selected {
  background-color: #00ffff;
  border-color: #00ffff;
}

.confirmbut {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.confirmbut:hover {
  background-color: white;
  transform: scale(1.1);
}

.confirmbut:disabled {
  background-color: #182cbe;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.legend-color.selected {
  background-color: #00ffff;
}

.legend-color.reserved {
  background-color: rgba(255, 255, 255, 0.3);
}

.legend-color.available {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* SeatSelection.css */

.seat-legend-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-seat {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  pointer-events: none;
  
}

.selected-legend {
  background-color: #00ffff;
  
}

.reserved-legend {
  background-color: rgba(255, 255, 255, 0.3);
  
}

.available-legend {
  background-color: transparent;
  color: white;
  
}