.user-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  width: 100vw; */
  background-color: #3444c5;
  border-radius: 30px;
  padding: 5vw;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .user-page-container {
    padding: 4vw;
  }

  .login-form {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .user-page-container {
    padding: 3vw;
  }

  .login-form {
    max-width: 100%;
  }
}

.user-page {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-color: black;
}

h2{
  color: black;
}
h3 {
  color: black;
}
input{
  background-color: rgba(255, 255, 255, 0.5);
  border-color: black;
  border-radius: 20px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3b5ded;
  color: #fff;
  border: none;
  border-radius: 20px;
  border-color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

button:hover {
  background-color: #3b5ded;
  transform: scale(1.1);
}
button:disabled{
  cursor: not-allowed;
}
button:last-child {
  margin-right: 0;
}

p {
  margin-top: 10px;
  color: red;
}